textPath {
    fill: black;
    // font-size: 20px;
    // font-stretch: 200%;

}
text {
    width: 400px;
}
.circlePath {
    // fill: none;
}

.arcs {
    fill: blue;
    width:100px;  
}

.newpath {
    // fill: none; 
    stroke: black;
    transform-origin: initial;
    transform: rotate(90deg);
}

.newpath:hover {
    fill: limegreen; 
    transform: scale(1.1) rotate(90deg); 
}